<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIRLYPOPS</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!--Flatpickr: for calendar input library-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="module" src="/script.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="/"><img src="/logo.png" style="height: 30px; width: auto;"></a>
    </div>

    <main>
        <%- body %>
    </main>

    <div class="footer">
        <p style="font-size: 15px;"><a href="">Privacy Policy</a> | Copyright © 2024 GIRLYPOPS | <a href="">Terms and
                Conditions</a></p>
    </div>
</body>

</html>